CREATE TABLE [TestAspNet].[dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
	CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY ([MigrationId] ASC, [ContextKey] ASC)
);

CREATE TABLE [TestAspNet].[dbo].[Customers](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Email] [varchar](254) NOT NULL,
	CONSTRAINT [PK_dbo.Customers] PRIMARY KEY ([Id] ASC)
);

INSERT [TestAspNet].[dbo].[Customers] ([Id], [Name], [Email]) VALUES (N'dd137ca7-7af2-4477-9111-11308fdb7c4a', N'Customer 6', N'customer6@testaspnet.com');
INSERT [TestAspNet].[dbo].[Customers] ([Id], [Name], [Email]) VALUES (N'19725a11-6309-492c-a04c-2e246763ea17', N'Customer 0', N'customer0@testaspnet.com');
INSERT [TestAspNet].[dbo].[Customers] ([Id], [Name], [Email]) VALUES (N'6ef40b4d-3cb3-4590-b75b-44280c220ee5', N'Customer 9', N'customer9@testaspnet.com');
